.product {
    width: 231px;
    display: flex;
    border: 1px solid #000;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}


.name {
    font-weight: 700;
    font-size: 18px;
}


.price {
    font-weight: 501;
    font-size: 16px;
}


.product img {
    width: 100%;
    background-size: cover;
    height: 61%;
}


button {
    cursor: pointer;
    padding: 16px;
    background-color: black;
    color:white;
    border: none;
    outline: none;
}