.product{
    width: 301px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-between;
    height: 351px;
}
.name{
    font-weight: 701;
    font-size: 21px;
}
.price{
    font-weight: 501;
    font-size: 17px;
}

.product img{
    width: 100%;
    background-size: cover;
    height: 60%;
}

button{
    cursor: pointer;
    padding: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
}
